<header>
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Logo</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li routerLinkActive="active"><a routerLink="/home">Home</a></li>
                <li routerLinkActive="active"><a routerLink="/account/login">Login</a></li>
                <li routerLinkActive="active"><a routerLink="/account/gestao">Minha Conta</a></li>
            </ul>
        </div>
    </nav>
</header>
<section>
    <router-outlet></router-outlet>
</section>
<footer class="page-footer center-align">
    <div class="footer-copyright">
        <div class=" container">
            Feito com <span style="color: red">&#10084;</span> Pitangueiros 2018
        </div>
    </div>
</footer>