<p>
    detalhes-loja works!
</p>
<div class="row">
    <div class="col s12 m6">
        <div class="card">
            <div class="card-image">
                <img src="http://lorempixel.com/210/123/">
                <span class="card-title">Detalhe da Minha Loja: {{loja.nome}}</span>
                <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
            </div>
            <div class="card-content">
                <p>
                    Minha loja legal tem o id: {{loja.id}}
                </p>
            </div>
        </div>
    </div>
</div>