<p>
    detalhes-loja works!
</p>
<div class="row">
    <div class="col s12 m6">
        <div class="card">
            <div class="card-image">
                <img src="http://lorempixel.com/210/123/">
                <span class="card-title">Detalhe da Minha Loja: {{loja.nome}}</span>
                <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
            </div>
            <div class="card-content">
                <p>
                    Minha loja legal tem o id: {{loja.id}}
                </p>
                <!-- <form> -->
                <div class="input-field">
                    <input #id placeholder="Id da Loja" (input)="onInput()" id="id" type="text">
                    <label for="id">Id</label>
                </div>
                <div class="input-field">
                    <input #nome placeholder="Nome da Loja" (input)="onInput()" id="nome" type="text">
                    <label for="nome">Nome</label>
                </div>
                <button class="waves-effect waves-light btn" (click)="salvarLoja(id.value, nome.value)">Salvar</button>
                <!-- </form> -->
            </div>
        </div>
    </div>
</div>